.divcard{
    background-color: #ccc;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border: solid 4px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.divcard img{
    width: 170px;
    height: 170px;
    align-self: center;
    margin: 0px 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.type{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.type p{
    color: white;
    padding: 8px 30px;
    border-radius: 15px;
    font-weight: bold;
}
