.header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    margin-left: 50px;
    padding: 20px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

ul li{
    cursor: pointer;
}